<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bebfb7">  <td>15/01/30 16:52:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestQuestionBox.setUp()[pri:0, instance:tests.TestQuestionBox@39a287b7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@450423042</td>   <td></td> </tr>
<tr bgcolor="bebfb7">  <td>15/01/30 16:53:09</td>   <td>32829</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestQuestionBox.tearDown()[pri:0, instance:tests.TestQuestionBox@39a287b7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@450423042</td>   <td></td> </tr>
<tr bgcolor="bebfb7">  <td>15/01/30 16:52:57</td>   <td>21089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestQuestionBox.testLastNumberTheSuggestedAnswers()[pri:0, instance:tests.TestQuestionBox@39a287b7]">testLastNumberTheSuggestedAnswers</td> 
  <td>main@450423042</td>   <td></td> </tr>
</table>
