<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fac7c5">  <td>15/01/30 15:57:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestQuestionBox.setUp()[pri:0, instance:tests.TestQuestionBox@2b3cfcf1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@450423042</td>   <td></td> </tr>
<tr bgcolor="fac7c5">  <td>15/01/30 15:57:59</td>   <td>57002</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestQuestionBox.tearDown()[pri:0, instance:tests.TestQuestionBox@2b3cfcf1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@450423042</td>   <td></td> </tr>
<tr bgcolor="fac7c5">  <td>15/01/30 15:57:17</td>   <td>15144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestQuestionBox.testLastNumberTheSuggestedAnswers()[pri:0, instance:tests.TestQuestionBox@2b3cfcf1]">testLastNumberTheSuggestedAnswers</td> 
  <td>main@450423042</td>   <td></td> </tr>
</table>
